<div
	class="w-full rounded overflow-hidden shadow-lg hover:border-opacity-60 hover:opacity-80 "
>
	{{if .Params.link}}
	<a href="{{.Params.link}}">
	{{else if .Params.extlink}}
	<a href="{{.Params.extlink}}" target="_blank">
	{{else}}
	<a>
	{{end}}
	{{if .Params.image}}
		<img class="h-36 lg:h-72 w-full object-cover" src="{{.Site.BaseURL}}/{{.Params.image}}" />
	{{else}}
	<div class="h-24 lg:h-36 w-full object-cover bg-gray-400">No Picture</div>
	{{end}}
	</a>
	<div class="px-6 py-4">
		<div class="font-bold text-xl">{{.Title}}</div>
		<div class="text-xs font-mono opacity-40 mb-2">{{.Params.date.Format "2006-01-02"}}</div>
		<p class="text-gray-700 text-xs font-flow font-extralight md:font-normal md:text-sm lg:text-base">
			{{.Params.description}}
		</p>
	</div>
</div>
