<div>
	<div
		id="mainBG"
		style="background-image: url('{{if $.Site.Params.mainbg}}{{$.Site.Params.mainbg}}{{else}}/img/sample_bg_blue_r.png{{end}}');"
	>
		<div
			class="wave wave1"
			style="background-image: url('{{.Site.BaseURL}}img/wave.webp');"
		></div>
		<div
			class="wave wave2"
			style="background-image: url('{{.Site.BaseURL}}img/wave.webp');"
		></div>
		<div
			class="wave wave3"
			style="background-image: url('{{.Site.BaseURL}}img/wave.webp');"
		></div>
		<div
			class="wave wave4"
			style="background-image: url('{{.Site.BaseURL}}img/wave.webp');"
		></div>
		<div class="centerAll">
			<div class="title text-6xl font-bold text-center">
				{{if $.Site.Params.maintitle}}{{$.Site.Params.maintitle}}
				{{else}}TinyWorks{{end}}
			</div>
			<div class="title-text text text-xl text-center">
				{{if $.Site.Params.maintext}}{{$.Site.Params.maintext}}
				{{else}}Edit config.toml/params{{end}}
			</div>
		</div>
	</div>
		<!-- About Section -->
		{{range (where .Site.Sections ".Params.id" "eq" "about")}}
		<section id="about" class="mt-12">
			<div class="md:flex justify-center">
				<div class="text-3xl title-deco tracking-wide">
					{{.Title}}
				</div>
			</div>
			<div class="md:flex justify-center">
				<div class="grid grid-cols-6 gap-4">
					{{if .Params.image}}
					<div class="flex place-content-center mt-8 col-start-3 col-end-5">
						<img class="rounded-full" src="{{.Params.image}}" />
					</div>
					{{end}}
					<div class="text-lg text-center mt-3 col-start-2 col-end-6 border-b-2">
						{{.Content}}
					</div>
					{{range .RegularPages}}
					<div class="mt-2 pb-2 col-start-2 col-end-6 border-b-2">
						<div class="grid grid-cols-4 gap-4">
							<div class="font-semibold text-xl">{{.Title}}</div>
							<div class="text-lg col-start-2 col-end-5">{{.Content}}</div>
						</div>
					</div>
					{{end}}
				</div>
			</div>
		</section>
		{{end}}
		<!-- Normal Section -->
		{{range sort (where .Site.Sections ".Params.id" "not in" "[about,info,record]") .Params.weight}}
		<section id="{{.Params.id}}" class="mt-12 place-content-center">
			{{$paginator := .Paginate (sort .RegularPages .Params.date) 6}}
			<div class="flex justify-center">
				<div class="text-3xl title-deco tracking-wide">{{.Title}}</div>
				<div class="text-3sm opacity-30 px-3 pt-3">{{$paginator.TotalNumberOfElements}}</div>
			</div>
			{{if gt $paginator.TotalPages 0}}
				<div
					class="mt-8 grid grid-flow-row grid-cols-2 mx-4 md:grid-cols-3 md:mx-8 gap-4"
				>
				{{range $paginator.Pages}} {{partial "card.html" .}} {{end}}
			{{else}}
				<div class="mt-4 text-xl text-center">Coming soon</div>
			{{end}}
		</section>
			{{if gt $paginator.TotalPages 1}}
				<div class="flex justify-center">
				{{range $paginator.Pagers}} 
					{{if eq $paginator.PageNumber .PageNumber}}
					<div class="text-3m px-2 py-1 mx-1 mt-4 rounded text-white bg-red-200">{{.PageNumber}}</div>
					{{else}}
					<div class="text-3m  px-2 py-1 mx-1 mt-4 rounded border-gray-200 border-solid border-1 hover:bg-gray-200"><a href="{{ .URL }}" class="no-underline text-red-400 cursor-pointer">{{.PageNumber}}</a></div>
					{{end}}
				{{end}}
				</div>
			{{end}}
		{{end}}
		<!-- Info Section -->
	</main>
</div>
